@model IEnumerable<DataLayer.Theme>

@*<section class="last-news-section border-radius margin-top-60">
    <header><i class="icons icon-doc-2"></i>  <h3>آخرین آخبار ارسالی</h3> </header>
    <ul>

        @foreach (var item in Model)
        {
            <li>
                <img class="border-radius" src="/PageImages/@item.ImageName">
                <h2> <a href="/News/@item.ThemeID"> @item.ThemeTitle </a></h2>
                <p>
                    @item.ShortDescription
                </p>
                <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : @item.CreateDate.ToShamsi() </span>
                <a href="/News/@item.ThemeID" class="more-link"><i class="icons icon-more"></i></a>
            </li>
        }

    </ul>
</section>*@



<section>
    <div class="container-fluid-lg">
        <div class="title">
            <h2>FRUIT & VEGETABLES</h2>
            <span class="title-leaf">
                <svg class="icon-width">
                    <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use>
                </svg>
            </span>
            <p>A virtual assistant collects the products from your list</p>
        </div>
        <div class="product-border border-row">
            <div class="slider-6_2 no-arrow">
                <div>
                   
                    <div class="row m-0">
                        @foreach (var item in Model){

                        <div class="col-12 px-0">
                            <div class="product-box wow fadeIn" data-wow-delay="0.1s">
                                <div class="product-image">
                                    <a href="product-left.html">
                                        <img src="/PageImages/@item.ImageName"
                                             class="img-fluid blur-up lazyload" alt="">
                                    </a>
                                    <ul class="product-option justify-content-around">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                               data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <a href="product-left.html">
                                        <h6 class="name name-2 h-100">@item.ThemeTitle</h6>
                                    </a>
                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(34)</span>
                                    </div>                                   
                                    <div class="counter-box">
                                        <h6 class="sold theme-color">@item.Price</h6>
                                        <div class="addtocart_btn">
                                            <button class="add-button addcart-button btn buy-button text-light">
                                                <span>Add</span>
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                            <div class="qty-box cart_qty">
                                                <div class="input-group">
                                                    <button type="button" class="btn qty-left-minus"
                                                            data-type="minus" data-field="">
                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </button>
                                                    <input class="form-control input-number qty-input" type="text"
                                                           name="quantity" value="1">
                                                    <button type="button" class="btn qty-right-plus"
                                                            data-type="plus" data-field="">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
             
            </div>
        </div>
    </div>
</section>